{% extends 'main/base.html' %} 
<!-- take everything from -->
{% block title %}
Create
{% endblock %}
{% block content %}
    <h3>Create page</h3>
    <form method="POST", action="/create/",class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit", name="create", class="btn btn-success">Create new</button>
            </div>
            {{ form.name }}
        </div>
    </form>
{% endblock %}